@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #112531;
  font-style: normal;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .card {
  margin-top: 57px;
  width: 315px;
  height: 184px;
  background: linear-gradient(177.23deg, #9C2CF3 -13.49%, #3A49F9 109.75%);
  border-radius: 30px;
}

.card__balance {
  display: flex;
  justify-content: space-between;
  width: 255px;
}

.card__inner {
  padding: 25px 30px 25px 30px;
}

.card__current {
  margin-top: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.54;
}

.card__price {
  margin-top: 9px;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
}
.card__number {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
}

.card__card-number {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  opacity: 0.9;
}

.card__date {
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.5px;
  color: #FFFFFF;
} */


.card__images {
  margin-top: -24px;
}


.card-two{
  padding: 20px 29px 25px 29px;
}

.card__text {
  margin-top: 29px;
  display: flex;
}

.card__cvv{
  margin-left: 28px;
}

.date,
.cvv {
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  opacity: 0.5;
}

.date-number,
.cvv-number {
  font-size: 11px;
  line-height: 18px;
  text-align: right;
  color: #FFFFFF;
}

.card__chip{
  margin-top: 22px;
}